extends layout
block title
	| #{active.name}
block content_here
	-var color = "#000";
	-if (active.id == 10) { color = "#fff"; }
	div.content(style="padding-bottom:2px;background:#{color};")
		iframe#main-iframe(src="#{active.href}",style="width:100%;min-height:100%;border:none;")

	div(style="display:none;")
		div#fenxiang_title #{active.title}
		div#fenxiang_img http://hangban.mconnect.cn/share/weixin-#{active.ename}.jpg
		div#fenxiang_desc #{active.description}
		div#fenxiang_link #{active.shareurl}
		div#weibo_fenxiang_img http://hangban.mconnect.cn/share/weibo-#{active.ename}.jpg
block js_here
	script.
		function resetFrame(h) {
			$("#main-iframe").height(h-20);
		}