extends layout
//- here for homepage
block title
	| 活动专区

block content_here
	div.content
		.slider#mySlider
			.slide-group
				-if (banner != null)
					-for(var i=0;i<banner.length;i++)
						.slide(onclick="gotopage('#{banner[i].href}')")
							img(src="#{banner[i].url}")
			.slide-point
				-if (banner != null)
					-for(var i=0;i<banner.length;i++)
						-var select = ""
						-if (i == 0){select = "on"}
						span(class="#{select}")

		div.content-padded
			-if (users.length>0)
				div.noted
					div.icon
						img(src="img/noded.png")
					div.list
						-for(var i=0;i<users.length;i++)
							p #{users[i].newtime} #{users[i].username}(#{users[i].mobile})预约试驾成功!
						//- p 1分钟前 王女士(138****8989)预约试驾成功!
						//- p 1分钟前 王女士(138****8989)预约试驾成功!
			div.btntrl.clearfix.hide
				a.active.btn.pull-left(href="/")
					span.icon
					|  会员独享
				a.btn.pull-right(href="/home/limit")
					span.icon
					|  限时抢购
			div.activelist
				-for(var i=0;i<active.length;i++)
					-var neworhot = ""
					-if (active[i].neworhot == 1){ neworhot = "new" }
					-if (active[i].neworhot == 2){ neworhot = "hot" }
					div(class="item #{neworhot}")
						a(href="/active/#{active[i].id}")
							img(src="#{active[i].url}")
						.description.clearfix
							-if (active[i].logo == null)
								//- div #{active[i].logo}
							-else
								div.logo-icon.pull-left
									img(src="#{active[i].logo}")
							div.des.pull-left
								p 活动时间: 
									span #{active[i].startext}
									|至
									span #{active[i].endtext}
								p 活动奖品:
									span.lot #{active[i].lotext}

		//- p here is homepage